@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?koht6p');
  src:  url('../fonts/icomoon.eot?koht6p#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?koht6p') format('truetype'),
    url('../fonts/icomoon.woff?koht6p') format('woff'),
    url('../fonts/icomoon.svg?koht6p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icoResumen:before {
  content: "\e9c9";
  color: #000;
  font-size: 15px;
  margin-right: 6px;
}
.icon-icoEgereso:before {
  content: "\e9ca";
  font-size: 15px;
}
.icon-icoIngreso:before {
  content: "\e9cb";
  font-size: 15px;
}
.icon-icoRegistrarCB:before {
  content: "\e9cc";
  font-size: 15px;
}
.icon-logo .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-logo .path2:before {
  content: "\e901";
  margin-left: -2.7275390625em;
  color: rgb(0, 0, 0);
}
.icon-logo .path3:before {
  content: "\e902";
  margin-left: -2.7275390625em;
  color: rgb(0, 0, 0);
}
.icon-logo .path4:before {
  content: "\e903";
  margin-left: -2.7275390625em;
  color: rgb(0, 198, 47);
}
.icon-logo .path5:before {
  content: "\e904";
  margin-left: -2.7275390625em;
  color: rgb(255, 24, 24);
}
.icon-logo .path6:before {
  content: "\e905";
  margin-left: -2.7275390625em;
  color: rgb(0, 0, 0);
}
.icon-logoMexico .path1:before {
  content: "\e906";
  color: rgb(252, 202, 62);
}
.icon-logoMexico .path2:before {
  content: "\e907";
  margin-left: -1.4541015625em;
  color: rgb(252, 202, 62);
}
.icon-logoMexico .path3:before {
  content: "\e908";
  margin-left: -1.4541015625em;
  color: rgb(170, 140, 48);
}
.icon-logoMexico .path4:before {
  content: "\e909";
  margin-left: -1.4541015625em;
  color: rgb(170, 140, 48);
}
.icon-logoMexico .path5:before {
  content: "\e90a";
  margin-left: -1.4541015625em;
  color: rgb(170, 140, 48);
}
.icon-logoMexico .path6:before {
  content: "\e90b";
  margin-left: -1.4541015625em;
  color: rgb(170, 140, 48);
}
.icon-logoMexico .path7:before {
  content: "\e90c";
  margin-left: -1.4541015625em;
  color: rgb(170, 140, 48);
}
.icon-logoMexico .path8:before {
  content: "\e90d";
  margin-left: -1.4541015625em;
  color: rgb(156, 161, 104);
}
.icon-logoMexico .path9:before {
  content: "\e90e";
  margin-left: -1.4541015625em;
  color: rgb(113, 119, 50);
}
.icon-logoMexico .path10:before {
  content: "\e90f";
  margin-left: -1.4541015625em;
  color: rgb(156, 161, 104);
}
.icon-logoMexico .path11:before {
  content: "\e910";
  margin-left: -1.4541015625em;
  color: rgb(113, 119, 50);
}
.icon-logoMexico .path12:before {
  content: "\e911";
  margin-left: -1.4541015625em;
  color: rgb(255, 255, 255);
}
.icon-logoMexico .path13:before {
  content: "\e912";
  margin-left: -1.4541015625em;
  color: rgb(1, 104, 72);
}
.icon-logoMexico .path14:before {
  content: "\e913";
  margin-left: -1.4541015625em;
  color: rgb(205, 32, 42);
}
.icon-logoMexico .path15:before {
  content: "\e914";
  margin-left: -1.4541015625em;
  color: rgb(48, 194, 220);
}
.icon-logoMexico .path16:before {
  content: "\e915";
  margin-left: -1.4541015625em;
  color: rgb(249, 170, 81);
}
.icon-logoMexico .path17:before {
  content: "\e916";
  margin-left: -1.4541015625em;
  color: rgb(249, 170, 81);
}
.icon-logoMexico .path18:before {
  content: "\e917";
  margin-left: -1.4541015625em;
  color: rgb(249, 170, 81);
}
.icon-logoMexico .path19:before {
  content: "\e918";
  margin-left: -1.4541015625em;
  color: rgb(249, 170, 81);
}
.icon-logoMexico .path20:before {
  content: "\e919";
  margin-left: -1.4541015625em;
  color: rgb(149, 50, 32);
}
.icon-logoMexico .path21:before {
  content: "\e91a";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path22:before {
  content: "\e91b";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path23:before {
  content: "\e91c";
  margin-left: -1.4541015625em;
  color: rgb(12, 132, 137);
}
.icon-logoMexico .path24:before {
  content: "\e91d";
  margin-left: -1.4541015625em;
  color: rgb(4, 83, 78);
}
.icon-logoMexico .path25:before {
  content: "\e91e";
  margin-left: -1.4541015625em;
  color: rgb(140, 190, 191);
}
.icon-logoMexico .path26:before {
  content: "\e91f";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path27:before {
  content: "\e920";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path28:before {
  content: "\e921";
  margin-left: -1.4541015625em;
  color: rgb(4, 83, 78);
}
.icon-logoMexico .path29:before {
  content: "\e922";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path30:before {
  content: "\e923";
  margin-left: -1.4541015625em;
  color: rgb(4, 83, 78);
}
.icon-logoMexico .path31:before {
  content: "\e924";
  margin-left: -1.4541015625em;
  color: rgb(4, 83, 78);
}
.icon-logoMexico .path32:before {
  content: "\e925";
  margin-left: -1.4541015625em;
  color: rgb(140, 190, 191);
}
.icon-logoMexico .path33:before {
  content: "\e926";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path34:before {
  content: "\e927";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path35:before {
  content: "\e928";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path36:before {
  content: "\e929";
  margin-left: -1.4541015625em;
  color: rgb(4, 83, 78);
}
.icon-logoMexico .path37:before {
  content: "\e92a";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path38:before {
  content: "\e92b";
  margin-left: -1.4541015625em;
  color: rgb(12, 132, 137);
}
.icon-logoMexico .path39:before {
  content: "\e92c";
  margin-left: -1.4541015625em;
  color: rgb(4, 83, 78);
}
.icon-logoMexico .path40:before {
  content: "\e92d";
  margin-left: -1.4541015625em;
  color: rgb(4, 83, 78);
}
.icon-logoMexico .path41:before {
  content: "\e92e";
  margin-left: -1.4541015625em;
  color: rgb(140, 190, 191);
}
.icon-logoMexico .path42:before {
  content: "\e92f";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path43:before {
  content: "\e930";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path44:before {
  content: "\e931";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path45:before {
  content: "\e932";
  margin-left: -1.4541015625em;
  color: rgb(4, 83, 78);
}
.icon-logoMexico .path46:before {
  content: "\e933";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path47:before {
  content: "\e934";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path48:before {
  content: "\e935";
  margin-left: -1.4541015625em;
  color: rgb(140, 190, 191);
}
.icon-logoMexico .path49:before {
  content: "\e936";
  margin-left: -1.4541015625em;
  color: rgb(4, 83, 78);
}
.icon-logoMexico .path50:before {
  content: "\e937";
  margin-left: -1.4541015625em;
  color: rgb(12, 132, 137);
}
.icon-logoMexico .path51:before {
  content: "\e938";
  margin-left: -1.4541015625em;
  color: rgb(4, 83, 78);
}
.icon-logoMexico .path52:before {
  content: "\e939";
  margin-left: -1.4541015625em;
  color: rgb(140, 190, 191);
}
.icon-logoMexico .path53:before {
  content: "\e93a";
  margin-left: -1.4541015625em;
  color: rgb(140, 190, 191);
}
.icon-logoMexico .path54:before {
  content: "\e93b";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path55:before {
  content: "\e93c";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path56:before {
  content: "\e93d";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path57:before {
  content: "\e93e";
  margin-left: -1.4541015625em;
  color: rgb(4, 83, 78);
}
.icon-logoMexico .path58:before {
  content: "\e93f";
  margin-left: -1.4541015625em;
  color: rgb(12, 132, 137);
}
.icon-logoMexico .path59:before {
  content: "\e940";
  margin-left: -1.4541015625em;
  color: rgb(140, 190, 191);
}
.icon-logoMexico .path60:before {
  content: "\e941";
  margin-left: -1.4541015625em;
  color: rgb(140, 190, 191);
}
.icon-logoMexico .path61:before {
  content: "\e942";
  margin-left: -1.4541015625em;
  color: rgb(4, 83, 78);
}
.icon-logoMexico .path62:before {
  content: "\e943";
  margin-left: -1.4541015625em;
  color: rgb(4, 83, 78);
}
.icon-logoMexico .path63:before {
  content: "\e944";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path64:before {
  content: "\e945";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path65:before {
  content: "\e946";
  margin-left: -1.4541015625em;
  color: rgb(35, 31, 32);
}
.icon-logoMexico .path66:before {
  content: "\e947";
  margin-left: -1.4541015625em;
  color: rgb(170, 140, 48);
}
.icon-logoMexico .path67:before {
  content: "\e948";
  margin-left: -1.4541015625em;
  color: rgb(170, 140, 48);
}
.icon-logoMexico .path68:before {
  content: "\e949";
  margin-left: -1.4541015625em;
  color: rgb(170, 140, 48);
}
.icon-logoMexico .path69:before {
  content: "\e94a";
  margin-left: -1.4541015625em;
  color: rgb(233, 39, 54);
}
.icon-logoMexico .path70:before {
  content: "\e94b";
  margin-left: -1.4541015625em;
  color: rgb(233, 39, 54);
}
.icon-logoMexico .path71:before {
  content: "\e94c";
  margin-left: -1.4541015625em;
  color: rgb(233, 39, 54);
}
.icon-logoMexico .path72:before {
  content: "\e94d";
  margin-left: -1.4541015625em;
  color: rgb(233, 39, 54);
}
.icon-logoMexico .path73:before {
  content: "\e94e";
  margin-left: -1.4541015625em;
  color: rgb(233, 39, 54);
}
.icon-logoMexico .path74:before {
  content: "\e94f";
  margin-left: -1.4541015625em;
  color: rgb(233, 39, 54);
}
.icon-logoMexico .path75:before {
  content: "\e950";
  margin-left: -1.4541015625em;
  color: rgb(233, 39, 54);
}
.icon-logoMexico .path76:before {
  content: "\e951";
  margin-left: -1.4541015625em;
  color: rgb(247, 226, 4);
}
.icon-logoMexico .path77:before {
  content: "\e952";
  margin-left: -1.4541015625em;
  color: rgb(168, 172, 113);
}
.icon-logoMexico .path78:before {
  content: "\e953";
  margin-left: -1.4541015625em;
  color: rgb(168, 172, 113);
}
.icon-logoMexico .path79:before {
  content: "\e954";
  margin-left: -1.4541015625em;
  color: rgb(120, 115, 46);
}
.icon-logoMexico .path80:before {
  content: "\e955";
  margin-left: -1.4541015625em;
  color: rgb(120, 115, 46);
}
.icon-logoMexico .path81:before {
  content: "\e956";
  margin-left: -1.4541015625em;
  color: rgb(120, 115, 46);
}
.icon-logoMexico .path82:before {
  content: "\e957";
  margin-left: -1.4541015625em;
  color: rgb(120, 115, 46);
}
.icon-logoMexico .path83:before {
  content: "\e958";
  margin-left: -1.4541015625em;
  color: rgb(255, 255, 255);
}
.icon-logoMexico .path84:before {
  content: "\e959";
  margin-left: -1.4541015625em;
  color: rgb(120, 115, 46);
}
.icon-logoMexico .path85:before {
  content: "\e95a";
  margin-left: -1.4541015625em;
  color: rgb(120, 115, 46);
}
.icon-logoMexico .path86:before {
  content: "\e95b";
  margin-left: -1.4541015625em;
  color: rgb(175, 112, 41);
}
.icon-logoMexico .path87:before {
  content: "\e95c";
  margin-left: -1.4541015625em;
  color: rgb(129, 108, 42);
}
.icon-logoMexico .path88:before {
  content: "\e95d";
  margin-left: -1.4541015625em;
  color: rgb(252, 202, 61);
}
.icon-logoMexico .path89:before {
  content: "\e95e";
  margin-left: -1.4541015625em;
  color: rgb(252, 202, 61);
}
.icon-logoMexico .path90:before {
  content: "\e95f";
  margin-left: -1.4541015625em;
  color: rgb(171, 109, 41);
}
.icon-logoMexico .path91:before {
  content: "\e960";
  margin-left: -1.4541015625em;
  color: rgb(77, 42, 21);
}
.icon-logoMexico .path92:before {
  content: "\e961";
  margin-left: -1.4541015625em;
  color: rgb(210, 165, 103);
}
.icon-logoMexico .path93:before {
  content: "\e962";
  margin-left: -1.4541015625em;
  color: rgb(143, 70, 32);
}
.icon-logoMexico .path94:before {
  content: "\e963";
  margin-left: -1.4541015625em;
  color: rgb(77, 42, 21);
}
.icon-logoMexico .path95:before {
  content: "\e964";
  margin-left: -1.4541015625em;
  color: rgb(77, 42, 21);
}
.icon-logoMexico .path96:before {
  content: "\e965";
  margin-left: -1.4541015625em;
  color: rgb(77, 42, 21);
}
.icon-logoMexico .path97:before {
  content: "\e966";
  margin-left: -1.4541015625em;
  color: rgb(77, 42, 21);
}
.icon-logoMexico .path98:before {
  content: "\e967";
  margin-left: -1.4541015625em;
  color: rgb(171, 109, 41);
}
.icon-logoMexico .path99:before {
  content: "\e968";
  margin-left: -1.4541015625em;
  color: rgb(210, 165, 103);
}
.icon-logoMexico .path100:before {
  content: "\e969";
  margin-left: -1.4541015625em;
  color: rgb(210, 165, 103);
}
.icon-logoMexico .path101:before {
  content: "\e96a";
  margin-left: -1.4541015625em;
  color: rgb(210, 165, 103);
}
.icon-logoMexico .path102:before {
  content: "\e96b";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path103:before {
  content: "\e96c";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path104:before {
  content: "\e96d";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path105:before {
  content: "\e96e";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path106:before {
  content: "\e96f";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path107:before {
  content: "\e970";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path108:before {
  content: "\e971";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path109:before {
  content: "\e972";
  margin-left: -1.4541015625em;
  color: rgb(210, 165, 103);
}
.icon-logoMexico .path110:before {
  content: "\e973";
  margin-left: -1.4541015625em;
  color: rgb(248, 200, 60);
}
.icon-logoMexico .path111:before {
  content: "\e974";
  margin-left: -1.4541015625em;
  color: rgb(75, 65, 57);
}
.icon-logoMexico .path112:before {
  content: "\e975";
  margin-left: -1.4541015625em;
  color: rgb(75, 65, 57);
}
.icon-logoMexico .path113:before {
  content: "\e976";
  margin-left: -1.4541015625em;
  color: rgb(75, 65, 57);
}
.icon-logoMexico .path114:before {
  content: "\e977";
  margin-left: -1.4541015625em;
  color: rgb(75, 65, 57);
}
.icon-logoMexico .path115:before {
  content: "\e978";
  margin-left: -1.4541015625em;
  color: rgb(248, 200, 60);
}
.icon-logoMexico .path116:before {
  content: "\e979";
  margin-left: -1.4541015625em;
  color: rgb(248, 200, 60);
}
.icon-logoMexico .path117:before {
  content: "\e97a";
  margin-left: -1.4541015625em;
  color: rgb(248, 200, 60);
}
.icon-logoMexico .path118:before {
  content: "\e97b";
  margin-left: -1.4541015625em;
  color: rgb(248, 200, 60);
}
.icon-logoMexico .path119:before {
  content: "\e97c";
  margin-left: -1.4541015625em;
  color: rgb(248, 200, 60);
}
.icon-logoMexico .path120:before {
  content: "\e97d";
  margin-left: -1.4541015625em;
  color: rgb(248, 200, 60);
}
.icon-logoMexico .path121:before {
  content: "\e97e";
  margin-left: -1.4541015625em;
  color: rgb(248, 200, 60);
}
.icon-logoMexico .path122:before {
  content: "\e97f";
  margin-left: -1.4541015625em;
  color: rgb(248, 200, 60);
}
.icon-logoMexico .path123:before {
  content: "\e980";
  margin-left: -1.4541015625em;
  color: rgb(32, 34, 32);
}
.icon-logoMexico .path124:before {
  content: "\e981";
  margin-left: -1.4541015625em;
  color: rgb(75, 65, 57);
}
.icon-logoMexico .path125:before {
  content: "\e982";
  margin-left: -1.4541015625em;
  color: rgb(144, 71, 32);
}
.icon-logoMexico .path126:before {
  content: "\e983";
  margin-left: -1.4541015625em;
  color: rgb(210, 165, 103);
}
.icon-logoMexico .path127:before {
  content: "\e984";
  margin-left: -1.4541015625em;
  color: rgb(171, 109, 41);
}
.icon-logoMexico .path128:before {
  content: "\e985";
  margin-left: -1.4541015625em;
  color: rgb(143, 70, 32);
}
.icon-logoMexico .path129:before {
  content: "\e986";
  margin-left: -1.4541015625em;
  color: rgb(171, 109, 41);
}
.icon-logoMexico .path130:before {
  content: "\e987";
  margin-left: -1.4541015625em;
  color: rgb(143, 70, 32);
}
.icon-logoMexico .path131:before {
  content: "\e988";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path132:before {
  content: "\e989";
  margin-left: -1.4541015625em;
  color: rgb(176, 114, 41);
}
.icon-logoMexico .path133:before {
  content: "\e98a";
  margin-left: -1.4541015625em;
  color: rgb(77, 42, 21);
}
.icon-logoMexico .path134:before {
  content: "\e98b";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path135:before {
  content: "\e98c";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path136:before {
  content: "\e98d";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path137:before {
  content: "\e98e";
  margin-left: -1.4541015625em;
  color: rgb(77, 42, 21);
}
.icon-logoMexico .path138:before {
  content: "\e98f";
  margin-left: -1.4541015625em;
  color: rgb(139, 68, 31);
}
.icon-logoMexico .path139:before {
  content: "\e990";
  margin-left: -1.4541015625em;
  color: rgb(77, 42, 21);
}
.icon-logoMexico .path140:before {
  content: "\e991";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path141:before {
  content: "\e992";
  margin-left: -1.4541015625em;
  color: rgb(77, 42, 21);
}
.icon-logoMexico .path142:before {
  content: "\e993";
  margin-left: -1.4541015625em;
  color: rgb(143, 70, 32);
}
.icon-logoMexico .path143:before {
  content: "\e994";
  margin-left: -1.4541015625em;
  color: rgb(210, 165, 103);
}
.icon-logoMexico .path144:before {
  content: "\e995";
  margin-left: -1.4541015625em;
  color: rgb(143, 70, 32);
}
.icon-logoMexico .path145:before {
  content: "\e996";
  margin-left: -1.4541015625em;
  color: rgb(143, 70, 32);
}
.icon-logoMexico .path146:before {
  content: "\e997";
  margin-left: -1.4541015625em;
  color: rgb(77, 42, 21);
}
.icon-logoMexico .path147:before {
  content: "\e998";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path148:before {
  content: "\e999";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path149:before {
  content: "\e99a";
  margin-left: -1.4541015625em;
  color: rgb(32, 32, 32);
}
.icon-logoMexico .path150:before {
  content: "\e99b";
  margin-left: -1.4541015625em;
  color: rgb(210, 165, 103);
}
.icon-logoMexico .path151:before {
  content: "\e99c";
  margin-left: -1.4541015625em;
  color: rgb(171, 109, 41);
}
.icon-logoMexico .path152:before {
  content: "\e99d";
  margin-left: -1.4541015625em;
  color: rgb(171, 109, 41);
}
.icon-logoMexico .path153:before {
  content: "\e99e";
  margin-left: -1.4541015625em;
  color: rgb(143, 70, 32);
}
.icon-logoMexico .path154:before {
  content: "\e99f";
  margin-left: -1.4541015625em;
  color: rgb(143, 70, 32);
}
.icon-logoMexico .path155:before {
  content: "\e9a0";
  margin-left: -1.4541015625em;
  color: rgb(30, 33, 33);
}
.icon-logoMexico .path156:before {
  content: "\e9a1";
  margin-left: -1.4541015625em;
  color: rgb(219, 173, 108);
}
.icon-logoMexico .path157:before {
  content: "\e9a2";
  margin-left: -1.4541015625em;
  color: rgb(143, 70, 32);
}
.icon-logoMexico .path158:before {
  content: "\e9a3";
  margin-left: -1.4541015625em;
  color: rgb(77, 42, 21);
}
.icon-logoMexico .path159:before {
  content: "\e9a4";
  margin-left: -1.4541015625em;
  color: rgb(30, 33, 33);
}
.icon-logoMexico .path160:before {
  content: "\e9a5";
  margin-left: -1.4541015625em;
  color: rgb(143, 70, 32);
}
.icon-logoMexico .path161:before {
  content: "\e9a6";
  margin-left: -1.4541015625em;
  color: rgb(219, 173, 108);
}
.icon-logoMexico .path162:before {
  content: "\e9a7";
  margin-left: -1.4541015625em;
  color: rgb(178, 113, 41);
}
.icon-logoMexico .path163:before {
  content: "\e9a8";
  margin-left: -1.4541015625em;
  color: rgb(30, 33, 33);
}
.icon-logoMexico .path164:before {
  content: "\e9a9";
  margin-left: -1.4541015625em;
  color: rgb(143, 70, 32);
}
.icon-logoMexico .path165:before {
  content: "\e9aa";
  margin-left: -1.4541015625em;
  color: rgb(219, 173, 108);
}
.icon-logoMexico .path166:before {
  content: "\e9ab";
  margin-left: -1.4541015625em;
  color: rgb(219, 173, 108);
}
.icon-logoMexico .path167:before {
  content: "\e9ac";
  margin-left: -1.4541015625em;
  color: rgb(171, 109, 41);
}
.icon-logoMexico .path168:before {
  content: "\e9ad";
  margin-left: -1.4541015625em;
  color: rgb(77, 42, 21);
}
.icon-logoMexico .path169:before {
  content: "\e9ae";
  margin-left: -1.4541015625em;
  color: rgb(77, 42, 21);
}
.icon-logoMexico .path170:before {
  content: "\e9af";
  margin-left: -1.4541015625em;
  color: rgb(219, 173, 108);
}
.icon-logoMexico .path171:before {
  content: "\e9b0";
  margin-left: -1.4541015625em;
  color: rgb(144, 71, 32);
}
.icon-logoMexico .path172:before {
  content: "\e9b1";
  margin-left: -1.4541015625em;
  color: rgb(30, 33, 33);
}
.icon-logoMexico .path173:before {
  content: "\e9b2";
  margin-left: -1.4541015625em;
  color: rgb(213, 211, 202);
}
.icon-logoMexico .path174:before {
  content: "\e9b3";
  margin-left: -1.4541015625em;
  color: rgb(171, 109, 41);
}
.icon-logoMexico .path175:before {
  content: "\e9b4";
  margin-left: -1.4541015625em;
  color: rgb(171, 109, 41);
}
.icon-logoMexico .path176:before {
  content: "\e9b5";
  margin-left: -1.4541015625em;
  color: rgb(249, 200, 58);
}
.icon-logoMexico .path177:before {
  content: "\e9b6";
  margin-left: -1.4541015625em;
  color: rgb(253, 234, 175);
}
.icon-logoMexico .path178:before {
  content: "\e9b7";
  margin-left: -1.4541015625em;
  color: rgb(249, 200, 58);
}
.icon-logoMexico .path179:before {
  content: "\e9b8";
  margin-left: -1.4541015625em;
  color: rgb(139, 81, 34);
}
.icon-logoMexico .path180:before {
  content: "\e9b9";
  margin-left: -1.4541015625em;
  color: rgb(249, 200, 58);
}
.icon-logoMexico .path181:before {
  content: "\e9ba";
  margin-left: -1.4541015625em;
  color: rgb(143, 70, 32);
}
.icon-logoMexico .path182:before {
  content: "\e9bb";
  margin-left: -1.4541015625em;
  color: rgb(252, 202, 61);
}
.icon-logoMexico .path183:before {
  content: "\e9bc";
  margin-left: -1.4541015625em;
  color: rgb(129, 108, 42);
}
.icon-logoMexico .path184:before {
  content: "\e9bd";
  margin-left: -1.4541015625em;
  color: rgb(120, 115, 46);
}
.icon-logoMexico .path185:before {
  content: "\e9be";
  margin-left: -1.4541015625em;
  color: rgb(168, 172, 113);
}
.icon-logoMexico .path186:before {
  content: "\e9bf";
  margin-left: -1.4541015625em;
  color: rgb(120, 115, 46);
}
.icon-logoMexico .path187:before {
  content: "\e9c0";
  margin-left: -1.4541015625em;
  color: rgb(255, 255, 255);
}
.icon-logoMexico .path188:before {
  content: "\e9c1";
  margin-left: -1.4541015625em;
  color: rgb(168, 172, 113);
}
.icon-logoMexico .path189:before {
  content: "\e9c2";
  margin-left: -1.4541015625em;
  color: rgb(255, 255, 255);
}
.icon-logoMexico .path190:before {
  content: "\e9c3";
  margin-left: -1.4541015625em;
  color: rgb(168, 172, 113);
}
.icon-logoMexico .path191:before {
  content: "\e9c4";
  margin-left: -1.4541015625em;
  color: rgb(255, 255, 255);
}
.icon-logoMexico .path192:before {
  content: "\e9c5";
  margin-left: -1.4541015625em;
  color: rgb(249, 200, 58);
}
.icon-logoMexico .path193:before {
  content: "\e9c6";
  margin-left: -1.4541015625em;
  color: rgb(143, 70, 32);
}
.icon-logoMexico .path194:before {
  content: "\e9c7";
  margin-left: -1.4541015625em;
  color: rgb(151, 124, 46);
}
.icon-barraHome:before {
  content: "\e9c8";
  color: #00c62f;
}
